
@{
    ViewData["Title"] = "Exclusao";
    Layout = "~/Views/Templates/Layout.cshtml";
}

<h4>Exclusao</h4>
<hr />
<a href="/Produto/Consulta">Voltar</a>
<br />
<a href="/Home/Index">Pagina Inicial</a>
<div class="alert alert-danger col-md-4">
    <strong>@TempData["Mensagem"]</strong>
</div>



